@model DoctorViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit a Doctor</h1>

<form asp-controller="Doctors" asp-action="Edit" method="post">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-2">
                <label asp-for="DoctorName" class="form-label"></label>
                <input type="text" asp-for="DoctorName" class="form-control" />
                <span asp-validation-for="DoctorName"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Experience" class="form-label"></label>
                <input type="text" asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience"></span>
            </div>
            <div class="mb-2">
                <label asp-for="SpecializationId" class="form-label"></label>
                <select asp-for="SpecializationId" asp-items="@(new SelectList(Model.Specializations,"Id","SpecializationName"))" class="form-select">
                    <option value="">--Select--</option>
                </select><span asp-validation-for="SpecializationId"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Qualification" class="form-label"></label>
                <input type="text" asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification"></span>
            </div>
            <div class="mt-2 d-grid">
                <input type="submit" class="btn btn-primary" value="Update Doctor" />
            </div>
        </div>
    </div>
</form>


@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}