@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-controller="Account" asp-action="Login" method="post">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Username" class="form=label"></label>
                <input type="text" asp-for="Username" class="form-control" />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="mb-3">

                <label asp-for="Password" class="form-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="mt-3 d-grid">
                <input type="submit" class="btn btn-primary" value="Sign In" />
            </div>
        </div>
    </div>
    <div><a asp-controller="DoctorHome" asp-action="Index">Back to Admin Page</a></div>

</form>

